canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

:root {
    --bg: #0a0a1b;
}

body {
    margin: 0;
    background: var(--bg);
    background-image:
        linear-gradient(90deg, rgba(35, 9, 30, 0.8) 2px, transparent 1px),
        linear-gradient(0deg, rgba(9, 35, 50, 0.8) 2px, transparent 1px);
    background-size: 30px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.editor {
    background: rgba(10, 10, 27, 0.8);
    width: 1280px;
    height: 640px;
    border: 4px solid var(--neon2);
    box-shadow: 0 0 10px var(--neon2);
    display: flex;
    flex-direction: column;
    position: relative;
}